PORT=3000
DATABASE=mongodb://localhost/my_database

SESSION_SECRET=put_something_here
EMAIL_HOST=smtp.example.com
EMAIL_PORT=465
EMAIL_SECURE=true
EMAIL_USER=user@example.com
EMAIL_PASS=your_passphrase

EMAIL_FROM=system@example.com
EMAIL_TO=user@example.com
