<% include ../partials/header %>

<p>
  Your email has been successfully reverted. Please set a new password as well.
</p>
<form method="POST">
  <label for="password">New password</label>  
  <input type="password" id="password" name="password">
  <button>Update password and log in</button>
</form>

<% include ../partials/footer %>
