<% include ../partials/header %>

<h1><%= title %></h1>

<p>User ID: <%= user._id %></p>

<p>Email: <%= user.email %> <a href="change-email">Edit</a></p>
<p>Password: **** <a href="change-password">Edit</a></p>

<% include ../partials/footer %>