<% include ../partials/header %>

<p>User ID: <%= user._id %></p>

<p>
  Email: <%= user.email %>
  <a href="change-email">Edit</a>
  <% if (user.emailVerified === true ) { %>
    <span>[Verified]</span>
  <% } else { %>
    <span>[Not verified] <a href="/account/resend-verification-email">Resend email</a></span>
  <% } %>
</p>

<p>Password: **** <a href="change-password">Edit</a></p>

<p><a href="delete-account">Delete account</a></p>

<% include ../partials/footer %>
