<% include ../partials/header %>

<p>User ID: <%= user._id %></p>

<p>
  <form action="/account/change-password/<%= user._id %>" method="POST">
    <label for="password-old">Old password</label>  
    <input type="password" id="password-old" name="password-old">
    <label for="password-new">New password</label>  
    <input type="password" id="password-new" name="password-new">
    <button>Update</button>
  </form>
</p>

<a href="/account/account-details">Cancel</a>

<% include ../partials/footer %>