<% include ../partials/header %>

<p>User ID: <%= user._id %></p>

<p>
  <form action="/account/change-email/<%= user._id %>" method="POST">
    <label for="email">Email</label>
    <input type="text" id="email" name="email" value="<%= user.email %>">
    <button>Update</button>
  </form>
</p>
<p>Note: You will have to verify your new email address.</p>

<a href="/account/account-details">Cancel</a>

<% include ../partials/footer %>