<% include ../partials/header %>

<form method="POST">
  <label for="email">Email</label>
    <input id="email" type="email" name="email">
    <button>Invite user</button>
</form>

<% include ../partials/footer %>