<% include ../partials/header %>

<p>You must verify your email address in order to continue using your account.</p>

<p>
  <a href="/account/resend-verification-email">Resend verification email</a>
</p>

<% include ../partials/footer %>