<% include ../partials/header %>

<p>
  This fully functional starter application was built by
  <a href="https://www.jamesnuanez.com">James Nuanez</a>
  using Node.js, Express, MongoDB, Mongoose, Passport.js,
  and Nodemailer, and includes full-featured user management.
</p>

<h2>Features</h2>
<ul>
  <li>Account creation</li>
  <li>User authentication</li>
  <li>Password reset</li>
  <li>Verification emails</li>
  <li>Email and password change</li>
  <li>User invitation</li>
  <li>Account deletion</li>
</ul>

<p>
  Please use the links above to create an account and test out the features. Please note that the application is live, so emails will be sent to the address you provide above.
</p>

<p>
  <a
    href="https://github.com/jamesnuanez/node-mongo-starter-app"
    target="_blank"
  >View code on GitHub</a>
</p>

<% include ../partials/footer %>