<% include ../partials/header %>
<p>This is a boilerplate website using Node, MongoDB, and Passport for user authentication.</p>
<p>Click a link above to continue.</p>
<p><a href="https://github.com/jamesnuanez/express-mongoose-passport-boilerplate" target="_blank">View on GitHub</a></p>
<% include ../partials/footer %>