<% include ../partials/header %>

<% if (user) { %>
  <p>Hi <%= user.email %>, you're already logged in. Go to <a href="/account/account-details">Account details</a> to change your password.</p>
  <p>
    <label>Email</label>
    <input type="text" value="<%= user.email %>" disabled>
    <button disabled>Reset password</button>
  </p>
<% } else { %>
  <form method="POST">
    <label for="email">Email</label>
    <input type="email" name="email" id="email">
    <button>Reset password</button>
  </form>
<% } %>

<% include ../partials/footer %>