<% include ../partials/header %>

<h1><%= title %></h1>

<form method="POST">
  <label for="username">Username</label>
  <input type="text" name="username" id="username">
  <button>Reset password</button>
</form>

<% include ../partials/footer %>