<% include ../partials/header %>

<h1><%= title %></h1>

<form method="POST">
  <label for="email">Email</label>
  <input type="email" name="email" id="email">
  <button>Reset password</button>
</form>

<% include ../partials/footer %>